{% extends 'base.html'%}
{% load static %}

{% block content %}

<main>
{% include 'partials/_profile_cap.html'%}

<br />


{% include 'partials/_account_panel.html'%}

<!--список книг-->
<div class="album py-5">
    
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#A66EE1"/></svg>
            <div class="card-body">
                <a class="text-dark" href="#"><h4>Денискины рассказы</h4></a>
              <p class="card-text">Драгунский В.Ю. Детская литература.</p>
              <div class="d-flex justify-content-between align-items-center">
                  <p class="text-muted">140 рублей</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#B0E050"/></svg>
              <div class="card-body">
                <a class="text-dark" href="#"><h4>Эмма Мухина и Тайна танцующей коровы</h4></a>
                <p class="card-text">Роньшин В.М. Детская литература.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <p class="text-muted">320 рублей</p>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#D4642F"/></svg>
              <div class="card-body">
                <a class="text-dark" href="#"><h4>Самоучитель по философии</h4></a>
                <p class="card-text">Курпатов А.В. Психология.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <p class="text-muted">450 рублей</p>
                </div>
              </div>
          </div>
        </div>
          <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#5C6FE8"/></svg>
                  <div class="card-body">
                    <a class="text-dark" href="#"><h4>Я ненавижу своих котов (История любви)</h4></a>
                    <p class="card-text">Кали Д., Пиролли А. Детская литература.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <p class="text-muted">215 рублей</p>
                    </div>
                  </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock%}